/* --- Navigation Bar --- */

.navigation-bar {

    display: flex;
    margin: 5px;
    padding: 10px;
    border: 3px solid #117C9F;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;

}

.navigation-bar-logo {

    height: 40px;
    width: 40px;
    vertical-align: middle;
}


.navigation-bar-label {

    font: oblique bolder x-large cursive;
    color: #117C9F;
    padding: 5px;
    vertical-align: middle;
}

.navigation-bar-buttons {

    display: flex;
    justify-content: space-evenly;
}

.login-signup-button {

    text-decoration: none;
    margin: 5px;
    padding: 5px;
    border: 2px solid #117C9F;
    color: #117C9F;
    border-radius: 10px;
    font-family: cursive;

}

.login-signup-button:hover {

    color: #AAFF47;
    border-color: #AAFF47;
    background-color: #117C9F;
}

.login-signup-button:active {

    color: #117C9F;
    background-color: #AAFF47;
    border-color: #117C9F;
}

/* --- Navigation Bar --- */


/* --- Questions Section --- */

.questions {

    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
}

.single-question {

    padding: 5px;
}


.question-button {

    display: flex;
    flex-direction: column;
    border: #117C9F 2px;
    border-radius: 5px;
    padding: 5px;
}

.question-title {
    padding: 5px 10px;
    text-align: start;
}

.question-description {
    padding: 0px 10px;
    justify-self: flex-start;
    text-align: start;
}

.likes-and-dislikes-div {
    align-self: flex-end;
}

.likes-and-dislikes-span {
    display: flex;

}

.likes-span {
    padding: 5px;

}

.like-logo {
    max-width: 30px;
    padding: 5px;
    align-self: center;
}
.login-signup-button:hover {

    color: #AAFF47;
    border-color: #AAFF47;
    background-color: #117C9F;
}

.likes-number {
    align-self: center;
    padding: 5px;
    font-family: cursive;
}

.like-logo:hover {
    

}

/* --- Questions Section --- */