body {

    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(164, 199, 197, 1) 100%);

}


/* --- Navigation Bar --- */

.navigation-bar {

    display: flex;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.36);
    justify-content: space-between;

}

.watermark {
    align-self: flex-start;
}

.navigation-bar-logo {

    height: 40px;
    width: 40px;
}


.navigation-bar-label {

    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    outline-width: 5px;
    color: azure;

}

a {
    color: azure;
}

.signup-button,
.login-button {

    background-color: rgb(33, 163, 16);
    color: azure;
    flex-flow: row;

}


/* --- Navigation Bar --- */